body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #007bff;
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav a {
  color: #fff;
  text-decoration: none;
  margin-left: 15px;
}

.header-nav a:hover {
  text-decoration: underline;
}

.header-logo {
  width: 48px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f0f0f0;
  color: #333;
  padding: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.footer-logo {
  width: 96px;
  height: 96px;
}

.footer-nav {
  display: flex;
  flex-direction: column;
}

.footer-nav a {
  color: #333;
  text-decoration: none;
  margin: 5px 0;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  transition: color 0.3s ease;
}

.footer-nav a:hover {
  color: #007bff;
}

.todo-list {
  max-width: 500px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.add-todo {
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 5px 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.add-todo:active,
.todo-item-delete-button:active {
  opacity: 0.8;
}

.todo-item-delete-button {
  background-color: #f44336;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 5px 10px;
  margin-left: 10px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.todo-list-items {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.todo-item {
  padding: 10px;
  border-radius: 10px;
}

.status-planed {
  background-color: #ffe082;
}

.status-done {
  background-color: #c8e6c9;
}

.status-in-progress {
  background-color: #81d4fa;
}
